{% extends 'base.html' %}
{% load static %}
{% load form_tags %}
{% block css %}
  <link rel="stylesheet" href="{% static 'vendor/jquery/css/jquery-ui.min.css' %}">
{% endblock %}
{% block container %}
<div class="col-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h5>Bandeja de validación de proyectos de capacitación
        <label class="pull-right">
          User: <label class="text-success">{{username}} {{tipo_persona_desc}}</label>
        </label>
      </h5>
    </div>
    <div class="panel-body">
      <div class="tab-content table-responsive">

        <form style="display: flex; justify-content: end; background-color: #F9F9F9; padding: 15px; border-radius: 5px; margin-bottom: 20px;" id="formulario_filtro" method="GET">
            <div class="form-group" style="display: inline-flex; align-items: center; gap: 5px; margin-right: 15px; margin-bottom: 0;">
                <label for="inicio" style="white-space: nowrap">Inicio</label>
                <input type="date" id="inicio" name="inicio" class="form-control form-control-sm" value="{{ view.inicio }}"/>
            </div>
            <div class="form-group" style="display: inline-flex; align-items: center; gap: 5px; margin-right: 25px; margin-bottom: 0;">
                <label for="fin" style="white-space: nowrap">Finalización</label>
                <input type="date" id="fin" name="fin" class="form-control form-control-sm" value="{{ view.fin }}"/>
            </div>
            <div class="form-group" style="display: inline-flex; align-items: center; gap: 5px; margin-right: 15px; margin-bottom: 0;">
                <label for="estado">Estado</label>
                <select name="estado" id="estado" class="form-control form-control-sm">
                   <option value="todos" {% if view.estado == 'todos' %}selected="selected"{% endif %}>Todos</option>
                   <option value="por_validar" {% if view.estado == 'por_validar' %}selected="selected"{% endif %}>Por validar</option>
                   <option value="validado" {% if view.estado == 'validado' %}selected="selected"{% endif %}>Validado</option>""
                   <option value="cancelado" {% if view.estado == 'cancelado' %}selected="selected"{% endif %}>Cancelado</option>
                   <option value="culminado" {% if view.estado == 'culminado' %}selected="selected"{% endif %}>Culminado</option>
                   <option value="observado" {% if view.estado == 'observado' %}selected="selected"{% endif %}>Observado</option>
                   </select>
            </div>
            <button class="btn btn-danger" type="submit">
                Filtrar
            </button>
        </form>

        <table class="table table-bordered table-hover table-striped table-responsive"
               id="lista-capacitacion-validar"
               style="width: 100%;">
          <thead>
          <tr>
            <th></th>
            <th>Facultad</th>
            <th>Nombre del proyecto</th>
            <th style="width:80px;">Fecha</th>
            <th>PDF</th>
            <th>Acta asistencia</th>
            <th>Observación</th>
            <th style="width:125px;">Estado</th>
            <th>Firmantes</th>
            <th>Certificados</th>
            <th>Envío Cert.</th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="modal-acta">
  <div class="modal-dialog modal-xl2">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Acta de asistencia</h5>
        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body responsive">
        <iframe style="width:100%;" height="400px" src="" id="iframe-acta" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="modal-proyecto-pdf">
  <div class="modal-dialog modal-xl2">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe style="width:100%;" height="800px" src="" id="iframe-proyecto-pdf" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
  <script>
    var csrf_token = "{{ csrf_token }}";
    var buscarPersonaUrl = "{% url 'persona:buscar-persona' %}";
    var urlListarCapacitacionValidar = "{% url 'capacitacion:listar_capacitacion_validar' estado=view.estado inicio=view.inicio fin=view.fin %}";
    var urlObservarCapacitacion = "{% url 'capacitacion:observar_capacitacion' %}";
    var urlrevisarCapacitacion = "{% url 'capacitacion:revisar_capacitacion' %}";
    datatablesES = "{% static 'vendor/datatables/language/spanish.json' %}";
    var urlProyectoDescargaPdf = "{% url 'capacitacion:proyecto_descarga_pdf' 'archivo' %}";
    var urlEnviaCertificadoCorreo = "{% url 'capacitacion:envio_cert_multi_correo' 999999999 %}";
    var urlEnviaCertificadoCorreoMod = "{% url 'capacitacion:envio_cert_multi_correo_mod' 999999999 888888888 %}";
    var eliminarCapacitacion = "{% url 'capacitacion:eliminar-capacitacion' 'id' %}";
    var urlVerActa = "{% url 'capacitacion:ver_acta_asistencia_modal' 999999999  'capacitacion_id' %}";
  </script>
  <script src="{% static 'js/formset.js' %}"></script>
  <script src="{% static 'js/capacitacion/bandeja-validacion.js' %}" defer></script>
{% endblock %}
